{% extends 'common/base.html' %}


{% block content %}
    <div class="auth-wrapper">
        <div class="auth-block col-lg-3">
            {% if form.errors %}
                {% for error in form.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            <h3 class="auth-h3 my-3">
                Регистрация
            </h3>
            <form class="auth-form needs-validation"  method="post">
                {% csrf_token %}
                <div class="mb-3 form-row">
                    {{ form.email }}
                </div>
                <div class="mb-3 form-row">
                    {{ form.password1 }}
                </div>
                <div class="mb-3 form-row">
                    {{ form.password2 }}
                </div>
                <button class="btn btn-primary register-btn mb-1" type="submit">
                    Зарегистрироваться
                </button>
                <span class="login-txt">
                    Уже есть аккаунт?
                    <a href="{% url 'login' %}">
                        Войти
                    </a>
                </span>
            </form>
        </div>
    </div>
{% endblock %}
