{% extends 'partials/../../templates/common/base.html' %}


{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <h1 class="my-4">
                {{ category.title }}
            </h1>
            {% include 'partials/categories.html' %}
        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9 my-4">
            <nav class="mt-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/">
                            Главная
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        {{ category.title }}
                    </li>
                </ol>
            </nav>
            <div class="row">
                {% for product in category_products %}
                    {% include 'partials/product_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
