{% extends 'partials/base.html' %}

{% block content %}
    <div class="row">
        <div class="row col-lg-12">
            {% include 'partials/messages.html' %}
        </div>

        {% include 'partials/categories.html' %}
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
            <div class="row">
                {% for product in products %}
                    {% include 'partials/product_card.html' %}
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
{% endblock %}